body{
    margin:0;
    padding:0;
    display: grid;
    width: 100vw;
    align-content: center;
    background-image: url('bg.jpg');
    background-size: 100%;
    font-family: 'Brush Script MT', cursive;

}
.centered{
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5%;
    border-radius: 5%;
    padding: 1%;
}
.wrapper{
   display: flex;
   flex-direction: column;
}
h1 {
    
    font-size: 48px;
    align-self: center;

}
a{
    padding-left: 20%;
    color: black;
}
img{
    margin-top: 15%;
    width: 300px;
    align-self: center;
}

.form-style-9{
	max-width: 250px;
	background: #FAFAFA;
	padding: 30px;
	margin-left: 0;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 3px solid #305A72;
	list-style:none;
    display: flex;
    flex-direction: column;
}
.form-style-9 .field-style{
	padding: 8px;
    margin-bottom: 10px;
	outline: none;
	border: 1px solid #B0CFE0;
}

@media only screen and (max-width: 600px){
    body{
        align-content: start;
        padding-top: 4em;
        background-image: url('bg-mobile1.jpg')
    }
    img{
        width: 300px;
        height: auto;
    }
    .centered{
        margin-top: 0;
    }    
}