body{
    margin:0;
    padding:0;
    display: grid;
    width: 100vw;
    align-content: center;
    background-image: url('bg.jpg');
    background-size: 100%;

}
.centered{
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5%;
    border-radius: 5%;
}
.wrapper{
    opacity: 1.5;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 48px;
    padding-left: 20%;
}
a{
    padding-left: 20%;
    color: black;
}
img{
    margin-top: 15%;
}



@media only screen and (max-width: 600px){
    body{
        align-content: start;
        padding-top: 4em;
        background-image: url('bg-mobile1.jpg')
    }
    img{
        width: 300px;
        height: auto;
    }
    .centered{
        margin-top: 0;
    }
    h1 {
        padding-left: 14%;
    }
    iframe{
        width: 82vw;
    }
    
}